.DS_Store
.idea/
.vscode/
.env
.env.local
.buildpath
.settings/
.project
*.patch
.phpintel/
.phpunit.result.cache
/vendor/
/runtime/
/coverage/
/docker/mysql/data/
/phpstan.neon
/phpunit.xml
*.cache
composer.lock
